html
{
	height: 100%;
}

body
{
	margin:0px;
}

#entete
{
	text-align: center;
	width:100%;
	background-color: #F5F5F5;
    padding-top: 15px;
    margin:0px;
    padding-bottom: 10px;
    -moz-box-shadow: inset 0px 0px 5px 0px #656565;
	-webkit-box-shadow: inset 0px 0px 5px 0px #656565;
	-o-box-shadow: inset 0px 0px 5px 0px #656565;
	box-shadow: inset 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}
.th-promo
{
	text-align:center;
	width: 12%;
}

.radio
{
	text-align: center;
	width:100%;
	background-color: #F5F5F5;
    padding-top: 15px;
    margin:0px;
    padding-bottom: 10px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 0px 5px 0px #656565;
	-webkit-box-shadow: inset 0px 0px 5px 0px #656565;
	-o-box-shadow: inset 0px 0px 5px 0px #656565;
	box-shadow: inset 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}
.boutonPromo
{
	width: 90%;
	margin-bottom: 2px;
	padding-right: 15px;
}

#grostitre
{
	font-family: "SugarPunch";
}

.sessFaites, .session
{
	border-radius: 20px;
	background-color: #F5F5F5;
    padding-top: 15px;
    padding-bottom: 10px;
    -moz-box-shadow: inset 0px 0px 5px 0px #656565;
	-webkit-box-shadow: inset 0px 0px 5px 0px #656565;
	-o-box-shadow: inset 0px 0px 5px 0px #656565;
	box-shadow: inset 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

.titreAcc
{
	font-size: 25px;
}

button
{
	text-decoration: none;
}

.buttonT
{
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
    border-left: 6px solid black;
    background-color: white;
}

#titre
{
	float:left;
	width:100%;
	height:50%;
	text-align: center;
}

h1
{
	margin:0px;
}

h3
{
	margin:0px;
}

#insc
{
	line-height: 20px;
	width:15%;
	height:150px;
	float: right;
}

#corps
{
	z-index: 2;
	height: 100%;
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.button
{
	width:200px;
	height:50px;
	padding:15px;
}

p
{
	margin: 0px;
}

#dBut
{
	white-space: normal;
}

h2
{
	padding:0px;
	text-align: center;
}

footer
{
	position:fixed;
	bottom:0;
	left:0;
	height:30px;
	width:100%;
	background: white;
}

input
{
	text-align: center;
}
span
{
	font-size: 1.5vw;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav
{
	margin-bottom: 0px;
	background-color: white;
	text-align: center;
}
/*#backgroundImg
{
	background-image:url('../images/fond.jpg');
	background-size: cover;
	display: block;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	height: 800px;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 1;
}*/
@media(max-width: 900px)
{
	h2
	{
		font-size: 20px;
	}
	.listeSession
	{
		margin-top: 50px;
	}
	.riasec li
	{
		width: 100%;
		margin-bottom: 10px;
		height: 25px;
		font-size: 12px;
	}
	.riasec2
	{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.description
	{
		margin-left: auto;
		margin-right: auto;
		font-size: 12px;
	}
	.modQ
	{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.button
	{
		margin-top: 20px;
	}
	#grostitre
	{
		font-size: 18px;
	}
	.sessFaites, .session
	{
		margin-right: auto;
		margin-left: auto; 
		width: 100%;
		margin-top: 50px;
	}
	#rejSess
	{
		margin-left: auto;
   		margin-right: auto;
		width: 300px;
	}
	.titreAcc
	{
		font-size: 15px;
	}
	#questionnaire
	{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.fade
	{
		width: 20px;
	}

	#test
	{
		width:auto;
	}
} 

@media (min-width: 900px)
{
	#imageFond
	{
		filter: blur(5px) brightness(0.5);
	}
	.riasec li
	{
		width: auto;
		margin:auto;
		font-size: 12px;
	}
	.riasec2
	{
		margin-left: auto;
		margin-right: auto;
		width: 500px;
	}
	.description
	{
		margin-left: auto;
		margin-right: auto;
		width: 500px;
	}
	.modQ
	{
		margin-left: auto;
		margin-right: auto;
		width: 800px;
	}
	.button
	{
		margin-top: 50px;
	}
	#grostitre
	{
		font-size: 35px;
	}
	#deco
	{
		position: absolute;
		right: 10px;
		top: 10px;
	}
	.sessFaites
	{
		float:right; 
	}
	.connex
	{
		margin-left: auto;
   		margin-right: auto;
		width: 300px;
	}
	#rejSess
	{
		margin-left: auto;
   		margin-right: auto;
		width: 300px;
	}
	#questionnaire
	{
		margin-left: 10%;
		margin-right: 10%;
	}
	#test
	{
		margin-left: auto;
		margin-right: auto;
		width:60%;
	}
}

input[type=radio].css-checkbox
{
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

input[type=radio]
{
	padding-left:27px;
	height:23px; 
	display:inline-block;
	line-height:23px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:23px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=radio].css-checkbox:checked
{
	background-position: 0 -23px;
}