@font-face {
    font-family: "SugarPunch";
    src: url('fonts/HotSweat.ttf');
}

@font-face {
    font-family: "poetsen";
    src: url('fonts/poetsen.ttf');
}

@font-face {
    font-family: "leaguegothic";
    src: url('fonts/LeagueGothic-Regula.otf');
}

