html
{
	height: 100%;
}

body
{
	margin:0px;
}

#entete
{
	text-align: center;
	width:100%;
	background-color: #F5F5F5;
    padding-top: 15px;
    margin:0px;
    padding-bottom: 10px;
    -moz-box-shadow: inset 0px 0px 5px 0px #656565;
	-webkit-box-shadow: inset 0px 0px 5px 0px #656565;
	-o-box-shadow: inset 0px 0px 5px 0px #656565;
	box-shadow: inset 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

#sessFaites
{
	border-radius: 20px;
	background-color: #F5F5F5;
    padding-top: 15px;
    margin:0px;
    padding-bottom: 10px;
    -moz-box-shadow: inset 0px 0px 5px 0px #656565;
	-webkit-box-shadow: inset 0px 0px 5px 0px #656565;
	-o-box-shadow: inset 0px 0px 5px 0px #656565;
	box-shadow: inset 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

button
{
	text-decoration: none;
}

.buttonT
{
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
    border-left: 6px solid black;
    background-color: white;
}

#titre
{
	float:left;
	width:100%;
	height:50%;
	text-align: center;
}

h1
{
	margin:0px;
	color: black;
}

#insc
{
	line-height: 20px;
	width:15%;
	height:150px;
	float: right;
}

#corps
{
	height: 100%;
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.button
{
	margin-top: 50px;
	width:250px;
	height:50px;
	float:center;
}

#dBut
{
	white-space: normal;
}

h2
{
	padding:0px;
	color:white;
	text-align: center;
}

footer
{
	position:fixed;
	bottom:0;
	left:0;
	height:30px;
	width:100%;
	background: white;
}

input
{
	text-align: center;
}

.p1
{
	background: #000000;
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	color: white;
	text-decoration: none;
	vertical-align: middle;
}

.p2
{
	background: #000000;
	background: #ceb32d; /* Old browsers */
	background: -moz-linear-gradient(top, #ceb32d 0%, #cc8904 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ceb32d 0%,#cc8904 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ceb32d 0%,#cc8904 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	color: white;
	text-decoration: none;
	vertical-align: middle;
}

.p3
{
	background: #000000;
	background: #f0f936; /* Old browsers */
	background: -moz-linear-gradient(top, #f0f936 0%, #a5d604 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f0f936 0%,#a5d604 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f0f936 0%,#a5d604 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	color: white;
	text-decoration: none;
	vertical-align: middle;
}

span
{
	font-size: 1.5vw;
}


nav
{
	margin-bottom: 0px;
	background-color: white;
	text-align: center;
}
@media (max-width: 800px;)
{
	#sessFaites
	{
		margin-right: auto;
		margin-left: auto; 
	}
	#rejSess
	{
		margin-left: auto;
   		margin-right: auto;
		width: 300px;
	}
	#titreAcc
	{
		font-size: 15px;
	}
	#questionnaire
	{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	#grostitre
	{
		font-size: 30px;
	}

	.paragraphe
	{
		width: auto;
		margin: auto;
	}

	.fade
	{
		width: 20px;
	}
} 

@media (min-width: 800px)
{

	.paragraphe
	{
		width: 500px;
		margin: auto;
	}

	#deco
	{
		position: absolute;
		right: 10px;
		top: 0px;
	}
	#sessFaites
	{
		float:right; 
	}
	.connex
	{
		margin-left: auto;
   		margin-right: auto;
		width: 300px;
	}
	#rejSess
	{
		margin-left: auto;
   		margin-right: auto;
		width: 300px;
	}
	#questionnaire
	{
		margin-left: 10%;
		margin-right: 10%;
	}
}